<!DOCTYPE html>
<html>
    <head>
        <title>Predicting Traffic Congestion</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Predicting Traffic Congestion</h1>

        <p>
            Welcome to the application that predicts traffic congestion.<br><br>

            Please click on the button to begin!
        </p>

        <a href="predict.html" target="_blank">
            <button style="background-color: blue; color: white;">Predict Congestion</button>
        </a>
    </body>
</html>